.overlay {
    fill: none;
    pointer-events: all;
}

.focus  {
    fill: #002e4d;
}

.focus text {
    font-size: 14px;
}

.tooltip {
    fill: white;
    stroke: #000;
}

.tooltip-date, .tooltip-rate {
    font-weight: bold;
}
